@font-face {
    font-family: "dmsans";
    src: url("fonts/dmsans.ttf");
}

@font-face {
    font-family: "oswald";
    src: url("fonts/oswald.ttf");
}

@font-face {
    font-family: "ultra";
    src: url("fonts/ultra.ttf");
}

